<html>
<head>
    <title>The Ancient Alphanumeric Code Of Memory {{ extra_title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css?v={{ app_id }}"/>
    <link rel="icon" href="/static/owl_logo.png">
</head>

<body>
<div id="container">
    <div class="pagetitle">
        <h1>Submit a number to convert it into words</h1>
    </div>
    <div id="main">
        <form method="GET" action="{{ url_for('submitted_form') }}">
            <label for="number">Number:</label>
            <input type="number" min="0" max="9999" step="1" name="number" value="{{ number }}"
                   placeholder="Input number">
            <input type="submit" id="submit" onclick="on_submit()">
            <br>
            <label for="filter_nouns">Filter only nouns:</label>
            <input type="checkbox" name="filter_nouns" {{ checked }}>
        </form>
    </div>
    <div class="spinner" id="spinner" style="display: none">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
    <div id="results" class="list-type1">
        {% if words %}
        <ol>
            {% for word in words %}
            <li><a href="https://www.google.com/search?q={{ word }}" target="_blank">{{ word }}</a></li>
            {% endfor %}
        </ol>
        {% else %}
        {% if words is defined %}
        <span>No words found</span>
        {% endif %}
        {% endif %}

    </div>
</div>
<script src="/static/main.js?v={{ app_id }}"></script>
</body>
</html>